body {
	background: pink;
}

.name-input {
	display: none;
}

#tama1 {
	background: hotpink;
	height: 130px;
	width: 200px;
	border:10px solid black;
	border-radius: 60px;
	color: solid black;
	font-size: 75px;
	display: none;
	justify-content: center;
	/*align-content:center;*/
	
}
